.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Slabo 27px', serif;
  color: #78909c;
  background: linear-gradient(135deg,
    rgba(94, 197, 245, 1) 0%,
    rgba(94, 197, 245, 1) 50%,
    rgb(240, 226, 98, 1) 50%,
    rgba(240, 226, 98, 1) 100%
  );
}